div#container {
  width: calc(220px + (1100 - 220) * ((100vw - 320px) / (1440 - 320)));
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

div#container > p#container-title {
  text-indent: 20px;
  font-family: "Podkova", serif, cursive;
  font-size: calc(10px + (30 - 10) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
}

div#container > div.group-content {
  width: 100%;
  position: relative;
  overflow: hidden;
}

div#container > div.group-content::after {
  content: "";
  display: block;
  clear: both;
}

div#container > div.group-content > div.gallery-image-container {
  float: left;
  top: 0;
  left: 0;
}

div#container > div.group-content > div.gallery-image-container > img.gallery-image {
  display: block;
  width: 100%;
  height: auto;
}
