@font-face {
  font-family: "Gabriela";
  src: url("/fonts/Gabriela-Regular.woff2") format("woff2"),
    url("/fonts/Gabriela-Regular.woff") format("woff"),
    url("/fonts/Gabriela-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arizonia";
  src: url("/fonts/Arizonia-Regular.woff2") format("woff2"),
    url("/fonts/Arizonia-Regular.woff") format("woff"),
    url("/fonts/Arizonia-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Monsieur La Doulaise";
  src: url("/fonts/MonsieurLaDoulaise-Regular.woff2") format("woff2"),
    url("/fonts/MonsieurLaDoulaise-Regular.woff") format("woff"),
    url("/fonts/MonsieurLaDoulaise-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: rgb(247, 233, 195);
  --background-color: rgb(19, 21, 22);
  accent-color: var(--primary-color);
}

* {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-family: "Gabriela", serif, cursive;
  scroll-behavior: smooth;
  scroll-padding: 120px 0 0 0;
}

body {
  padding-top: 10vh;
}

html,
body,
div,
p,
a,
span,
button {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

p,
span,
h1,
h2,
h3,
h4 {
  max-width: 700px;
}

button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

hr {
  border-top: none;
}

.center-text {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  padding: 0 20px;

  width: 100%;
  height: 10vh;

  z-index: 9999;
  background-color: var(--background-color);
}

a {
  color: cadetblue;
}

input:not([type="checkbox"]),
textarea {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #eee;
  color: var(--background-color);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
  background-color: black;
}

textarea {
  resize: none;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  width: min(1400px, 100%);
}

div.primary-background {
  background-color: var(--primary-color);
  color: var(--background-color);
  width: 100%;
}

div.padding-horizontal {
  padding-left: 50px;
  padding-right: 50px;
}

div.padding-vertical {
  padding-top: 50px;
  padding-bottom: 50px;
}

img.icon {
  width: 40px;
  height: 40px;
}

img.icon:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;

  position: absolute;
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

div.menu.left {
  left: 0;
}
div.menu.right {
  right: 0;
}

div.menu > div.menu-item {
  min-width: 100px;
  padding: 10px 15px;
}

div.menu > div.menu-item:hover {
  background-color: rgb(47, 51, 53);
  cursor: pointer;
}

div#header-title > p {
  font-size: 22px;
}

div#background-image {
  height: 100vh;
  width: 100vw;
  /* z-index: -1; */
  position: fixed;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

div#title {
  width: 100%;
  padding: 0 10%;
  font-size: 40px;
  font-weight: 500;
  margin-top: 130px;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;

  letter-spacing: -2px;
}

div#title-description {
  width: 100%;
  padding: 0 10%;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
}

div#footer {
  width: calc(100% - 50px);

  bottom: 0;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  color: rgb(206, 202, 195);
  padding: 32px 50px;
  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
}

p#copyright,
P#copyright * {
  font-size: small;
  letter-spacing: 1px;
}

p#social-icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

p#social-icons > a {
  text-decoration: none;
  color: rgb(79, 227, 128);
  display: inline-flex;
  align-items: center;
  font-size: 16px;
}

img.social-icon {
  display: inline-block;
  width: 12px;
  margin-right: 3px;
}
